
.dose-list {
    background-color: white;
    margin: 20px;
    padding: 20px;
    box-shadow: 2px 3px 9px 1px rgba(0,0,0,0.59);
}

.container {
    margin-top: 50px;
    position: relative;
}

.options {
    bottom: 0;
    position: absolute;
}

.pic-margin {
    margin-top: 50px;
    box-shadow: 2px 3px 9px 1px rgba(0,0,0,0.59);
}

.button-spacing {
    margin: 20px;
}