
.dose-list {
    background-color: white;
    width: fit-content;
    margin: 10px;
}

.container {
    margin-top: 50px;
    position: relative;
}

.options {
    bottom: 0;
    position: absolute;
}



